<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Pages</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <div>
            <ion-icon name="person" style="font-size: 40px" padding></ion-icon>
            <span style="font-size: 30px"> Manojkumar</span>
        </div>

        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p.component)">
          {{p.title}}
        </button>
        </ion-list>
    </ion-content>

</ion-menu>
<!--Router outlet-->
<ion-nav #content [root]="rootPage"></ion-nav>